<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.ac.itn.myprofile">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.Kuliah.Pertemuan1.MainPertemuan8"></activity>
        <activity android:name=".Main.Kuliah.Pertemuan1.MainPertemuan7" />
        <activity android:name=".Main.Praktikum.Tugas7.MainUpdel" />
        <activity android:name=".Main.Praktikum.Tugas7.MainRead" />
        <activity android:name=".Main.Praktikum.Tugas7.MainCreate" />
        <activity android:name=".Main.Praktikum.Tugas7.MainTugas_7" />
        <activity android:name=".Main.Praktikum.Tugas6.MainTugas_6" />
        <activity
            android:name=".Main.Praktikum.Tugas5.MainTugas_5"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Main.Praktikum.Tugas4.MainTugas_4"
            android:label="@string/title_activity_main_tugas4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Main.Praktikum.Tugas3.MainTugas_3" />
        <activity android:name=".Main.Kuliah.Pertemuan1.MainPertemuan6" />
        <activity android:name=".Main.Kuliah.Pertemuan1.MainPertemuan5" />
        <activity android:name=".Main.Kuliah.Pertemuan1.MainPertemuan4" />
        <activity android:name=".Main.Kuliah.Pertemuan1.MainPertemuan3" />
        <activity android:name=".Main.Kuliah.Pertemuan1.MainPertemuan2" />
        <activity android:name=".Main.Kuliah.Pertemuan1.MainPertemuan1" />
        <activity android:name=".Main.Praktikum.Tugas2.MainBiodata" />
        <activity android:name=".Main.Praktikum.Tugas2.MainTugas_2" />
        <activity android:name=".Main.MainPraktikum" />
        <activity android:name=".Main.MainKuliah" />
        <activity android:name=".Main.MainActivity" />
        <activity android:name=".Main.MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Main.Praktikum.Tugas6.AlertReceiver" />
    </application>

</manifest>